<div class="   {{ pensamento.modelo }} ff-roboto-mono pensamento-p">
  <img src="../../../../assets/images/{{ pensamento.modelo }}.png" alt="Modelo card">
  <p class="conteudo">{{ pensamento.conteudo }}</p>
  <p class="autoria">{{ pensamento.autoria }}</p>
    <div class="acoes">
      <button class="botao-editar">
        <img src="../../../../assets/images/icone-editar.png" alt="Editar">
      </button>
      <button class="botao-excluir">
        <img src="../../../../assets/images/icone-excluir.png" alt="Excluir">
      </button>
    </div>
</div>
